<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680442696164-q2om5e7s3itp0i42sa6aq8gauch1cj11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680442696164-q2om5e7s3itp0i42sa6aq8gauch1cj11</string>
	<key>API_KEY</key>
	<string>AIzaSyCClX8Fs5_60n16Bjuy_qeZyoPUFYq838Q</string>
	<key>GCM_SENDER_ID</key>
	<string>680442696164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ultraapp.ultraapp3000</string>
	<key>PROJECT_ID</key>
	<string>ultra-app-3000</string>
	<key>STORAGE_BUCKET</key>
	<string>ultra-app-3000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680442696164:ios:89faed20ea57496df777f1</string>
</dict>
</plist>